* {
    background-color: darkslategrey;
}

body {
  color: white;
  font-family: cursive;
  text-decoration: none;
}

a:link, a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
