body{
    background: #003973;
    background: -webkit-linear-gradient(to top, #E5E5BE, #003973);
    background: linear-gradient(to top, #E5E5BE, #003973);
}

.title{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20;
    text-shadow: 4px 0px 4px #000000;
    color: white;
    font-size: 36;
    text-decoration: underline;
}

.centerabout {
    margin-top: 50;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

.aboutme {
    font-family: cursive;
    width: 450;
    font-size: 34;
    display: flex;
    justify-content: center;
    color: white;
}

.projects{
    display: flex;
    justify-content: center;
}

.projectcard {
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    text-align: center;
    margin: 2%;
    height: 150;
    width: 150;
    border-radius: 20px;
    color: white;
    box-shadow: 7px 6px 3px -1px rgba(0,0,0,0.41);   
}

.cardtitle {
    height: 20;
    font-family: sans-serif;
    text-decoration: underline;
}

.cardtext {
    font-family: sans-serif;
    font-size: 18;
}

.projectcard:hover {
    box-shadow: 7px 6px 3px -1px rgba(0,0,0,0.61); 
}

#projecttitle {
    margin-top: 2.8%
}

.skills {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: sans-serif;
}

.skilltitle {
    display: flex;
    justify-content: center;
    text-shadow: 5px 3px 5px #000000;
    font-size: 21;
}

.footer {
    display: flex;
    justify-content: center;
}

.fa {
    border-radius: 20%;
    padding: 15px;
    font-size: 30px;
    margin: 10;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

.fa:hover {
  opacity: 0.7;
}

.fa-discord {
  background: #3B5998;
}

.fa-github {
  background: #55ACEE;
}

.moreinfo{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #adadad;
}


